headerbar {
  min-height: 0px;
  padding: 0;
  margin: 0;
  background: #282828;
}

tabbar {
  background-color: #282828;
  height: 10px;
  margin: 0;
  padding: 0;
}

tabbar tabbox {
  margin-left: -14px;
  padding: 0;
  min-height: 12px;
  min-width: 0;
  font-family: monospace;
}

tab {
  background-color: transparent;
  border: none;
  margin: 0;
  padding: 0;
  color: #bdae93;
  font-weight: 600;
  transition: all 0.2s ease;
}

tabbar tabbox tab label {
  font-size: 13px;
}

tab:selected {
  background-color: #d79921;
  color: #282828;
  font-weight: bolder;
}

tab:hover:not(:selected) {
  background-color: #3c3836;
}

tab button {
  opacity: 0;
}
