[Unit]
Description=Hyprsunset blue-light filter utility for Hyprland
Documentation=man:hyprsunset(1)
After=graphical-session.target

[Service]
Type=exec
ExecCondition=/lib/systemd/systemd-xdg-autostart-condition "Hyprland" ""
ExecStart=hyprsunset
Restart=always
RestartSec=2
Slice=background-graphical.slice

[Install]
WantedBy=graphical-session.target
