[Unit]
Description=Hypridle auto-sleep and screen-saver utility for Hyprland
Documentation=man:hypridle(1)
After=graphical-session.target

[Service]
Type=exec
ExecCondition=/lib/systemd/systemd-xdg-autostart-condition "Hyprland" ""
ExecStart=hypridle
Restart=always
RestartSec=2
Slice=background-graphical.slice

[Install]
WantedBy=graphical-session.target
