{:aliases {:dev {:extra-deps {io.julienvincent/dev {:git/url "https://github.com/julienvincent/.config"
                                                    :git/sha "9b5379d630647e6d184d9c63ee83b51eebabbded"
                                                    :deps/root "clojure"}}}

           :nrepl {:extra-deps {io.julienvincent/dev {:git/url "https://github.com/julienvincent/.config"
                                                      :git/sha "9b5379d630647e6d184d9c63ee83b51eebabbded"
                                                      :deps/root "clojure"}
                                nrepl/nrepl {:mvn/version "1.4.0"}
                                cider/cider-nrepl {:mvn/version "0.57.0"}}

                   :jvm-opts ["-Djdk.attach.allowAttachSelf"
                              "-XX:+UseG1GC"
                              "-XX:-OmitStackTraceInFastThrow"
                              "-Djdk.attach.allowAttachSelf"
                              "-XX:+UnlockDiagnosticVMOptions" "-XX:+DebugNonSafepoints"]

                   :main-opts ["-e" "(require 'jv.repl)"
                               "-m" "nrepl.cmdline"
                               "--middleware" "[cider.nrepl/cider-middleware]"]}}}
