{:aliases {:dev {:extra-deps {io.julienvincent/dev {:git/url "https://github.com/julienvincent/.config"
                                                    :git/sha "3268b13c38eba65c0baa94745201c61299f06cd8"
                                                    :deps/root "clojure"}}}

           :nrepl {:extra-deps {io.julienvincent/dev {:git/url "https://github.com/julienvincent/.config"
                                                      :git/sha "3268b13c38eba65c0baa94745201c61299f06cd8"
                                                      :deps/root "clojure"}
                                nrepl/nrepl {:mvn/version "1.3.0"}
                                cider/cider-nrepl {:mvn/version "0.50.1"}}

                   :jvm-opts ["-Djdk.attach.allowAttachSelf"
                              "-XX:+UseG1GC"
                              "-XX:-OmitStackTraceInFastThrow"
                              "-Djdk.attach.allowAttachSelf"
                              "-XX:+UnlockDiagnosticVMOptions" "-XX:+DebugNonSafepoints"]

                   :main-opts ["-e" "(require 'jv.repl)"
                               "-m" "nrepl.cmdline"
                               "--middleware" "[cider.nrepl/cider-middleware]"]}}}
